.container {
  height: 100% !important;
}
.mainTitle {
  margin-bottom: 2rem !important;
}
.mainTitle h4 {
  font-weight: bold !important;
}

.mainPaper {
  width: 100%;
  padding: 4rem 2rem !important;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.selectedInput {
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #70707025;
  padding: 0 0.5rem !important;
  font-size: 0.95rem !important;
  outline: none;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  font-family: inherit !important;
  transition: all 200ms;
  color: #192129;
  background-color: #f4f4f4;
}
.selectedInput:focus {
  border: 1px solid #70707057;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 250ms;
}

/* Errors ----------------- */
.errorBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.5rem;
}
.errorBox label {
  font-size: 0.9rem;
}
.error {
  color: #b60123e1;
  font-size: 0.85rem;
}
.inputError {
  border: 1px solid #b60123e1;
  transition: all 200ms;
}

/* button ---------------- */
.inputBox {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.btnBox {
  flex: 0 0 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 4.5rem;
}
.btnBox {
  flex: 0 0 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 4rem;
}

.filterBtn,
.clearBtn {
  font-size: 0.8rem;
  font-weight: 500;
  width: 50%;
  height: 2.5rem;
  color: #ffffff;
  background-color: #1e4383;
  border: 1px solid #70707025;
  outline: none;
  border-radius: 10px;
  font-family: inherit;
  box-shadow: 0px 6px 11px -3px rgb(0 0 0 / 40%);
  transition: all 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearBtn {
  width: 30%;
  color: #c4cad0;
  background-color: #f4f4f4;
}

.filterBtn:active,
.clearBtn:active {
  transform: scale(1.05);
  transition: all 200ms;
}
.filterBtn:hover {
  background-color: #214c96;
  transition: all 200ms;
  cursor: pointer;
}
.clearBtn:hover {
  color: #b60123e1;
  transition: all 200ms;
  font-weight: bold;
  cursor: pointer;
}

/* Table ---------------- */
.paper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
}

.header,
.priceHeader {
  width: 100%;
  background-color: #1e4383;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.priceHeader {
  justify-content: flex-start;
  padding: 0 1rem;
}
.priceTitle {
  padding: 0.5rem;
}
.title {
  flex: 0 0 60%;
  padding: 0.5rem;
}
.body {
  width: 100%;
}
.link {
  flex: 0 0 25%;
  padding: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

/* TABLE */

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tableHeader {
  font-weight: bold !important;
}

.tableRow {
  transition: all 200ms !important;
}
.tableRow:hover {
  cursor: pointer !important;
  transition: all 200ms !important;
  background-color: #f4f4f4;
}

.tableRow:hover svg {
  fill: #277fe5 !important;
  transition: all 200ms !important;
}

.statusText {
  display: inline-block;
  flex: 0 0 80%;
  margin: 0 0.5rem;
}
.status {
  display: inline-block;
  flex: 0 0 auto;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
}
.status.pending {
  background-color: #ffc05e;
}
.status.closed {
  background-color: #219b26;
}
.status.open {
  background-color: #e52727;
}

.fixCell,
.businessMan {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.fixCell {
  width: 97%;
}
.businessMan {
  justify-content: flex-start;
}
.businessMan div {
  margin-left: 1rem;
}

.tablePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.numberBtn {
  border-radius: 6px !important;
  padding: 0 !important;
  height: 2rem !important;
  min-width: 2rem !important;
  background-color: transparent;
}
.change {
  padding: 0.5rem !important;
  min-width: 2rem !important;
}

/* ------------- RequestDetail ------------ */
.requestDetailTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #c4cad0;
  margin: 0 auto !important;
  padding: 0.5rem 0;
}
.requestDetailLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.requestDetailLink svg {
  color: #c4cad0 !important;
  font-size: 0.95rem !important;
  transition: 200ms !important;
}
.requestDetailLink p {
  font-size: 0.9rem;
  color: #c4cad0;
  margin-right: 0.5rem;
  transition: 200ms;
}
.requestDetailLink:hover {
  cursor: pointer;
}
.requestDetailLink:hover p,
.requestDetailLink:hover svg {
  cursor: pointer;
  color: #2780e5da;
  fill: #2780e5da;
  transition: 200ms;
}
.businessMan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.businessManName {
  font-weight: bold;
  margin-right: 1rem;
}

.requestDetailMain {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto !important;
}
.infoDataContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.suggestDataContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 9rem);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  padding: 1rem 0;
}
.requestBox {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.suggestBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;
  text-align: center;
}
.circle {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  margin-left: 0.5rem;
  background-color: #c4cad0;
}
.infoDataTitle {
  flex: 1;
  margin-left: 0.3rem;
}
.infoDataText {
  flex: 4;
  font-weight: bold;
}
.suggestTitle {
  margin-bottom: 0.8rem;
}
.suggestText {
  font-weight: bold;
}

.suggestBtn {
  grid-column: 1/3;
  height: 3rem;
  margin: 0 auto;
  font-size: 1rem !important;
  border-radius: 10px !important;
}

.alert {
  grid-column: 1/3;
  height: 3rem;
  margin: 0 auto;
  font-size: 1rem !important;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalPaper {
  padding: 1rem !important;
  height: 20rem !important;
  width: 20rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px !important;
}

.modalTitle {
  width: 95% !important;
  font-weight: bold !important;
  height: 2.5rem;
  width: 12rem;
  border-bottom: 1px solid #7a7e83;
}

.modalBtn {
  height: 2.5rem;
  width: 12rem;
  border-radius: 10px !important;
}

.modalInput {
  border: 1px solid #70707025;
  border-radius: 10px;
  font-size: 0.85rem;
  outline: none;
  height: 2.5rem;
  width: 12rem;
  background-color: #f4f4f4;
  box-shadow: none;
  padding: 0 0.5rem;
  transition: all 250ms;
}
.modalInput:focus,
.modalInput:valid {
  border: 1px solid #70707057;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 250ms;
}
.modalInput::placeholder {
  font-size: 0.85rem;
  color: #adb2b8;
}

.modalAlert {
  height: 2.5rem;
  width: 12rem;
  border-radius: 10px !important;
}

/* RESPONSIVE --------------------------------------------------*/

@media only screen and (max-width: 800px) {
  .requestDetailMain {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .mainTitle h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .mainPaper {
    padding: 2rem 1rem !important;
  }
  .infoDataContainer,
  .suggestDataContainer {
    width: 100%;
  }
  .infoDataContainer {
    border-bottom: 1px solid #7a7e83;
  }

  .businessManName,
  .requestDetailLink p {
    font-size: 0.85rem;
  }
  .requestDetailLink p {
    font-size: 0.7rem;
  }
  .circle,
  .infoDataTitle,
  .infoDataText {
    font-size: 0.85rem;
  }
  .suggestTitle,
  .suggestText {
    font-size: 0.85rem;
  }
  .suggestBtn {
    font-size: 1rem !important;
    padding: 0.5rem !important;
    width: 80% !important;
    height: 2.5rem !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 670px) {
  .tableRow td,
  .tableHeader td {
    padding: 0.9rem !important;
  }
  .mainTitle h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 660px) {
  table {
    min-width: 19rem !important;
    overflow-x: scroll !important;
  }
  .tableRow,
  .tableHeader {
    display: flex !important;
    flex-direction: column !important;
  }
  .tableRow td,
  .tableHeader td {
    padding: 1rem !important;
  }

  .tableRow:nth-child(2n-1) {
    background-color: #c4cad0;
  }
  .businessManName {
    margin-right: 0;
  }
  .businessManName,
  .requestDetailLink p {
    font-size: 0.85rem;
  }
  .requestDetailLink p {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 500px) {
  table {
    min-width: 13rem !important;
    overflow-x: scroll !important;
  }
  .title {
    font-size: 0.75rem !important;
  }
  .tableHeader {
    font-size: 0.75rem !important;
  }
  .link p,
  .link svg {
    font-size: 0.65rem !important;
  }
  .tableRow td {
    font-size: 0.7rem !important;
  }
  .tableRow td svg {
    font-size: 0.7rem !important;
  }
  .tableRow {
    font-size: 0.7rem !important;
  }
  .tablePagination p,
  .tablePagination div,
  .tablePagination div ul li {
    font-size: 0.7rem !important;
  }
  .mainPaper {
    padding: 1rem 0.5rem !important;
  }
  .mainTitle h4 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .requestDetailMain {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .businessManName,
  .requestDetailLink p {
    font-size: 0.75rem;
  }
  .requestDetailLink p {
    font-size: 0.6rem;
  }
  .circle,
  .infoDataTitle,
  .infoDataText {
    font-size: 0.75rem;
  }
  .requestDetailTitle {
    flex-direction: column;
  }
  .requestDetailLink {
    margin-top: 1rem;
  }
  .infoDataText {
    flex: 1;
  }
  .suggestDataContainer {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
  }
  .suggestTitle,
  .suggestText {
    font-size: 0.75rem;
  }
  .suggestBtn {
    font-size: 0.85rem !important;
  }
  .modalPaper {
    width: 85% !important;
    padding: 0.5rem !important;
    height: 40% !important;
  }

  .modalTitle {
    font-size: 1rem !important;
    height: 2rem;
  }
  .priceTitle {
    font-size: 1rem !important;
  }

  .modalBtn {
    height: 2rem !important;
    width: 70% !important;
    margin: 0 auto !important;
  }

  .modalInput {
    font-size: 0.75rem;
    height: 2rem;
    width: 70%;
  }

  .modalAlert div {
    font-size: 0.85rem !important;
  }
}
