.container {
  height: 100% !important;
}
.mainTitle {
  margin-bottom: 2rem !important;
}
.mainTitle h4 {
  font-weight: bold !important;
}

.mainPaper {
  width: 100%;
  padding: 4rem 2rem !important;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
}
.header {
  width: 100%;
  background-color: #1e4383;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem;
}
.body {
  width: 100%;
}
.title {
  flex: 0 0 60%;
  padding: 0.5rem;
}

.tableHead {
  border-bottom: 2px solid #c4cad0;
}
.tableHeader {
  font-weight: bold !important;
}
.tableRow {
  transition: all 200ms !important;
}
.tableRow:nth-child(even) {
  background-color: #f4f4f4;
}

.FaDescription {
  height: auto;
  width: 30%;
}
.EngDescription {
  height: auto;
  width: 45%;
}
.tariff {
  height: auto;
  width: 15%;
}
.copyCode {
  width: 10%;
}
.tariffButton {
  width: 100%;
  outline: none;
  font-size: 0.85rem;
  padding: 0.25rem;
  color: #192129;
  background-color: #c4cad0;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 3px 11px -3px rgb(0 0 0 / 20%);
  transition: all 200ms;
}
.tariffButton:hover {
  background-color: #277fe5;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms;
}
.tariffButton:active {
  transform: scale(1.05);
  transition: all 200ms;
}
.tablePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}
.searchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.searchBox {
  flex: 0 0 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.searchTitle {
  font-size: 1rem !important;
  padding: 0 0.5rem;
}

.search {
  width: 100%;
  position: relative;
  margin-top: 0.7rem;
}

.searchIcon {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  font-size: 0.8rem !important;
  outline: none !important;
  border: none !important;
  border-radius: 10px !important;
  width: 80% !important;
  box-shadow: 0px 3px 11px -3px rgba(0, 0, 0, 0.5) !important;
}

@media only screen and (max-width: 960px) {
  .mainPaper {
    padding: 2rem 1rem !important;
  }
  .title {
    font-size: 1.1rem !important;
  }
  .searchIcon {
    height: 1em !important;
    width: 1em !important;
  }
}
@media only screen and (max-width: 960px) {
  .searchContainer {
    flex-direction: column;
    align-items: center;
  }
  .searchBox {
    width: 90%;
  }
}

@media only screen and (max-width: 670px) {
  .tableRow td,
  .tableHeader td {
    padding: 0.9rem !important;
  }
  .mainTitle h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .title {
    font-size: 0.95rem !important;
  }
  .copyCode {
    width: 30%;
  }
  .mainTitle h4 {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 660px) {
  table {
    min-width: 19rem !important;
    overflow-x: scroll !important;
  }
  .tableRow,
  .tableHeader {
    display: flex !important;
    flex-direction: column !important;
  }
  .tableRow td,
  .tableHeader td {
    padding: 1rem !important;
  }

  .tableRow:nth-child(2n-1) {
    background-color: #c4cad0;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 0.5rem;
  }
  .title {
    font-size: 0.85rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .searchInput {
    font-size: 0.85rem !important;
    width: 100% !important;
  }
  .searchInput::placeholder {
    font-size: 0.8rem !important;
  }
  .mainTitle h4 {
    font-size: 1.2rem !important;
  }
  .searchIcon {
    height: 1em !important;
    width: 1em !important;
  }
}
