.paper {
  height: 33rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px !important;
}
.stepper {
  flex: 0.5;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center !important;
}
.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 95%;
}

/* First step  ------------------*/
.fistStpTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.fistStpSubTitle {
  flex: 0.5;
  text-align: center;
}
.selectBox {
  flex: 2.5;
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.importSelect,
.exportSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 40%;
  height: 60%;
}

.importSelect {
  color: #ffffff;
  background-color: #277fe5;
  box-shadow: 0px 4px 8px 1px #2780e560;
  cursor: pointer;
}
.exportSelect {
  color: #c4cad0;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
}
.stepBtnBox {
  flex: 1;
  border: 1px solid chocolate;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.backBtn,
.forwardBtn {
  width: 12%;
  height: 70%;
  margin: 0 0.25rem 0 0.5rem !important;
  border-radius: 10px !important;
}

/* Second step -------------------*/
.selectBox_stepTwo {
  flex: 3.5;
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.price,
.purchase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 45%;
  height: 50%;
  background-color: #e7f1fc;
  color: #192129;
  cursor: pointer;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 200ms;
}

/* Third step -------------------*/

.formBox {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tariffCodes {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  width: 95%;
}
.tariffCodes img,
.tariffCodes span {
  margin: 0 0.25rem 0 0.25rem;
  color: #277fe5;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 200ms;
}

.tariffCodes span:active,
.tariffCodes img:active {
  transform: scale(1.01);
  transition: all 200ms;
}

.selected {
  color: #ffffff;
  background-color: #277fe5;
  box-shadow: 0px 4px 8px 1px #277fe55b;
  transition: all 200ms;
}

.tariffSelect,
.originReleasingSelect,
.originLoading {
  width: 95%;
  border: 1px solid #70707057;
  border-radius: 10px;
  padding: 0.65rem;
  font-size: 0.95rem !important;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 200ms;
  font-family: inherit !important;
}
.originLoading {
  width: 88%;
  padding: 0.75rem;
}

.inputBox {
  flex: 0 0 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.inputBox label {
  font-size: 0.9rem;
}
