.signInContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputBox {
  padding: 1rem 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
}

.checkBoxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.checkBoxContainer span,
.checkBoxContainer label {
  font-weight: 400;
}

.label {
  margin-left: 2rem;
}

.radioGroup {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.error {
  color: #b60123e1;
  font-size: 0.9rem;
}

.alert {
  color: #b60123e1 !important;
  font-size: 0.9rem;
  padding: .5rem !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}
.alert div {
  padding: 0 !important;
  margin: 0 !important;
}
