.container {
   height: 100% !important;
 }
 .mainTitle {
   margin-bottom: 2rem !important;
 }
 .mainTitle h4 {
  font-weight: bold !important;
}
@media only screen and (max-width: 800px) {
  .mainTitle h4 {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .mainTitle h4 {
    font-size: 1.2rem !important;
  }
}