.paper {
  height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px !important;
}
.stepper {
  flex: 0.5;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  align-items: center !important;
}
.chip {
  margin: 0.5rem 0.2rem;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 95%;
}

/* First step  ------------------*/
.fistStpTitle {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.fistStpSubTitle {
  flex: 1;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.selectBox {
  flex: 2.75;
  width: 35%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.importSelect,
.exportSelect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 45%;
  height: 50%;
}

.importSelect {
  color: #ffffff;
  background-color: #277fe5;
  box-shadow: 0px 4px 8px 1px #2780e560;
  cursor: pointer;
}
.exportSelect {
  color: #c4cad0;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px 1px #c4cad086;
}
.stepBtnBox {
  flex: 0.75;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.backBtn,
.forwardBtn {
  width: 12%;
  height: 70%;
  margin: 0 0.25rem 0 0.5rem !important;
  border-radius: 10px !important;
  min-width: 6.25rem !important;
}

/* Second step -------------------*/
.selectBox_stepTwo {
  flex: 3.5;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.selectBoxTitle {
  font-weight: bold !important;
  text-align: center !important;
}

.price,
.purchase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 45%;
  height: 50%;
  background-color: #e7f1fc;
  color: #192129;
  cursor: pointer;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 200ms;
}

/* Third step -------------------*/

.formBox {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .inputContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.selectedTariffBox {
  height: 100%;
  width: 60%;
}

.tariffList {
  flex: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selectedTariff {
  height: 75%;
  width: 100%;
  border: 1px solid #70707057;
  margin: 0 auto;
  border-radius: 10px;
  overflow-y: scroll;
  overflow: auto;
}

.tariffListTitle {
  width: 98%;
  margin: 0 auto 1rem auto;
  font-size: 0.9rem;
}

.selectedTariff::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
}
.selectedTariff::-webkit-scrollbar-track {
  border: 1px solid #70707057;
  border-radius: 10px;
}
.selectedTariff::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  width: 20px;
  border-radius: 10px;
}

.tariffCodes {
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}
.tariffCodes img,
.tariffCodes span {
  margin: 0 0.25rem 0 0.25rem;
  color: #277fe5;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 200ms;
}

.tariffCodes span:active,
.tariffCodes img:active {
  transform: scale(1.01);
  transition: all 200ms;
}

.selected {
  color: #ffffff;
  background-color: #277fe5;
  box-shadow: 0px 4px 8px 1px #277fe55b;
  transition: all 200ms;
}

.tariff,
.originReleasingSelect,
.originLoading,
.merchandise {
  width: 95%;
  border: 1px solid #70707057;
  border-radius: 10px;
  padding: 0.65rem !important;
  font-size: 0.95rem !important;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  font-family: inherit !important;
  transition: all 200ms;
}

.tariff {
  padding: 0.2rem !important;
}

.originReleasingSelect {
  padding: 0.6rem !important;
}

.packingType,
.amount,
.conveyanceSelect,
.priceValue,
.uploadInputSelect {
  width: 95%;
  border: 1px solid #70707057;
  border-radius: 10px;
  padding: 0.65rem !important;
  font-size: 0.95rem !important;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  font-family: inherit !important;
  transition: all 200ms;
}
.uploadInputSelect {
  padding: 0 0.65rem !important;
  height: 2.5rem !important;
}
.conveyanceSelect {
  width: 97%;
}

.inputBox,
.inputBoxPurchase {
  flex: 0 0 30%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.inputBoxPurchase {
  flex: 0 0 45%;
}
.UploadInputBox {
  flex: 0 0 22%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.errorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.errorBox label {
  font-size: 0.9rem;
}
.error {
  color: #b60123e1;
  font-size: 0.8rem;
}
.inputError {
  border: 1px solid #b60123e1;
  transition: all 200ms;
}

/* -----------UPLOAD--------------- */
.firstStpSubTitle_Upload {
  flex: 1;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
/* ------- INPUT ------ */

.inputContainer {
  flex: 1.75;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploadInputBoxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
}

.uploadInputBox {
  width: 95%;
  margin-bottom: 1rem;
  position: relative;
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.uploadInputBox input {
  color: transparent;
}
.uploadInputBox input::-webkit-file-upload-button {
  visibility: hidden;
}
.uploadInputBox input::before {
  content: "انتخاب تصویر";
  color: #19212970;
  outline: none;
  background-color: #ffffff;
  display: inline-block;
  font-size: 0.85rem !important;
  border-radius: 10px;
  padding: 0 !important;
  width: 95%;
  font-family: inherit !important;
  transition: all 200ms;
}
input[type="file"] {
  cursor: pointer;
}
.uploadInput {
  width: 100%;
}
.uploadIcon {
  background-color: #ffffff;
  fill: #192129 !important;
  border-radius: 10px;
  cursor: pointer;
}

.selectInput {
  color: #192129;
  background-color: #ffffff;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #70707025;
  padding: 0.8rem 0.5rem;
  width: 98%;
  font-family: inherit;
  transition: all 250ms;
}

.selectInput:focus {
  border: 1px solid #70707057;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 250ms;
}

/* ----------------------------- */
.successfulContainer {
  flex: 5.25;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.successfulIcon {
  margin-top: 2rem;
  background: #ffc05e;
  border-radius: 50%;
  color: #fff;
}
.successfulTitle {
  margin: 1rem 0 2rem 0 !important;
  width: 40%;
  text-align: center;
}
.link {
  width: 35%;
  height: 10%;
}
.successfulBtn {
  font-size: 1rem !important;
  width: 100%;
  height: 100%;
  margin: 0 0.25rem 0 0.5rem !important;
  border-radius: 10px !important;
}

@media only screen and (max-width: 961px) {
  .paper {
    padding: 1rem 0.25rem;
  }
  .step {
    height: 5rem;
  }
  .selectBox,
  .selectBox_stepTwo {
    width: 65%;
  }
  .price,
  .purchase,
  .importSelect,
  .exportSelect {
    height: 40%;
    width: 40%;
  }
  .backBtn,
  .forwardBtn {
    width: 20%;
    height: 60%;
    font-size: 0.9rem !important;
  }
  .selectBoxTitle {
    text-align: center;
    font-size: 0.8rem !important;
  }
  .importSelect h6,
  .exportSelect h6 {
    font-size: 1.1rem !important;
  }
  .tariff,
  .originReleasingSelect,
  .originLoading,
  .merchandise,
  .packingType,
  .amount,
  .conveyanceSelect,
  .uploadInputSelect,
  .uploadInput .priceValue {
    width: 90% !important;
    padding: 0 0.25rem !important;
    height: 2.5rem !important;
    font-size: 0.8rem !important;
  }
  .tariff {
    padding: 0 !important;
  }
  .originReleasingSelect,
  .conveyanceSelect {
    width: 52% !important;
    font-size: 0.75rem !important;
    padding: 0 0.4rem !important;
  }
  .conveyanceSelect {
    width: 95% !important;
  }
  .tariff::placeholder,
  .originReleasingSelect::placeholder,
  .originLoading::placeholder,
  .merchandise::placeholder,
  .packingType::placeholder,
  .amount::placeholder,
  .conveyanceSelect::placeholder,
  .priceValue::placeholder {
    font-size: 0.75rem !important;
  }
  .tariff input::placeholder {
    font-size: 0.75rem !important;
    
  }
  .errorBox label {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  .inputBox {
    width: 95% !important;
    margin-bottom: 0.9rem;
  }
  .tariffList {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .tariffListTitle {
    font-size: 0.8rem !important;
  }
  .selectedTariffBox {
    min-height: 2rem !important;
    height: 8rem;
    width: 95%;
  }
  /* .uploadContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
  } */
  .UploadInputBox {
    width: 50%;
    margin-bottom: 1rem;
  }
  .successfulTitle {
    width: 70% !important;
    font-size: 0.9rem !important;
  }
  .link {
    width: 50%;
  }
  .successfulBtn {
    width: 100% !important;
    font-size: 0.85rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 98%;
    text-align: center;
  }
  .paper {
    padding: 1rem 0.25rem;
    height: 100% !important;
  }

  .stepper {
    width: 95%;
    padding: 0.5rem 0.25rem !important;
    margin-bottom: 1rem;
  }
  .step {
    height: 5rem;
  }

  .fistStpTitle {
    font-size: 0.8rem !important;
    line-height: 1.5 !important;
    margin-bottom: 1rem !important;
  }
  .fistStpSubTitle,
  .firstStpSubTitle_Upload {
    font-size: 0.8rem !important;
    margin-bottom: 1rem !important;
  }

  .step svg {
    height: 0.95em;
    width: 0.95rem;
  }
  .stepLabel span {
    font-size: 0.75rem;
  }
  .selectBox,
  .selectBox_stepTwo {
    width: 50%;
    margin-bottom: 1rem;
  }

  .importSelect h6,
  .exportSelect h6 {
    font-size: 0.8rem !important;
  }
  .price,
  .purchase,
  .importSelect,
  .exportSelect {
    height: 5rem;
  }

  .price p,
  .purchase p {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
  }
  .importSelect img,
  .exportSelect img,
  .price img,
  .purchase img {
    height: 2rem;
  }

  .stepBtnBox {
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  .inputContainer {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .tariff,
  .originReleasingSelect,
  .originLoading,
  .merchandise,
  .packingType,
  .amount,
  .conveyanceSelect,
  .uploadInput,
  .uploadInputSelect,
  .priceValue {
    width: 70% !important;
    padding: 0 0.25rem !important;
    height: 2rem !important;
    font-size: 0.8rem !important;
  }
  .tariff {
    padding: 0 !important;
    width: 71% !important;
  }
  .originReleasingSelect,
  .conveyanceSelect {
    width: 72% !important;
    font-size: 0.75rem !important;
    padding: 0 0.4rem !important;
  }
  .tariff::placeholder,
  .originReleasingSelect::placeholder,
  .originLoading::placeholder,
  .merchandise::placeholder,
  .packingType::placeholder,
  .amount::placeholder,
  .conveyanceSelect::placeholder,
  .priceValue::placeholder {
    font-size: 0.75rem !important;
  }
  .errorBox label {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  .inputBox {
    width: 95% !important;
    margin-bottom: 0.5rem;
  }

  .tariffCodes {
    margin-bottom: 1rem;
  }
  .tariffCodes span {
    font-size: 0.8rem;
  }
  .tariffCodes a img {
    height: 0.7em;
  }

  .formBox {
    margin-bottom: 2rem;
  }

  .tariffList {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .tariffListTitle {
    font-size: 0.8rem !important;
    margin: 0.25rem 0 !important;
  }
  .selectedTariffBox {
    min-height: 2rem !important;
    height: 8rem;
    width: 95%;
  }
  .chip {
    margin: 0.1rem;
    height: 1.5rem !important;
  }
  .chip span {
    font-size: 0.65rem !important;
  }
  .chip svg {
    height: 1rem !important;
    width: 1rem !important;
  }
  .backBtn,
  .forwardBtn {
    width: 45%;
    height: 50%;
    font-size: 0.7rem !important;
  }

  .UploadInputBox {
    width: 95%;
    margin-bottom: 1rem;
  }
  .successfulTitle {
    width: 90% !important;
    font-size: 0.8rem !important;
  }
  .link {
    width: 90%;
  }
  .successfulBtn {
    width: 50% !important;
    font-size: 0.75rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .fistStpTitle {
    font-size: 0.8rem !important;
  }
  .fistStpSubTitle,
  .firstStpSubTitle_Upload {
    font-size: 0.7rem !important;
  }
  .step svg {
    height: 0.75em;
    width: 0.75rem;
  }
  .stepLabel span {
    font-size: 0.7rem;
  }
  .selectBox,
  .selectBox_stepTwo {
    width: 100%;
    margin-bottom: 1rem;
  }
  .tariff,
  .originReleasingSelect,
  .originLoading,
  .merchandise,
  .packingType,
  .uploadInputSelect,
  .amount,
  .conveyanceSelect,
  .uploadInput,
  .priceValue {
    width: 95% !important;
  }
  .originReleasingSelect,
  .conveyanceSelect {
    width: 100% !important;
  }
  .tariff {
    padding: 0 !important;
    width: 98% !important;
  }
  .tariff input::placeholder {
    font-size: 0.75rem !important;
    
  }

  .errorBox label {
    font-size: 0.75rem;
  }
  .tariffCodes span {
    font-size: 0.7rem;
  }

  .link {
    width: 90%;
  }
  .successfulBtn {
    width: 100% !important;
    font-size: 0.75rem !important;
  }
}
