.labelBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.label {
  margin: 0 0.5rem -0.5rem 0;
}

.textField {
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #70707025;
  padding: 0.65rem 0.5rem;
  width: 90%;
  box-shadow: 0 3px 15px #c4cad08f;
  transition: all 250ms;
}

.inputError {
  border: 1px solid #b60123e1;
  transition: all 250ms;
}

.textField::placeholder {
  color: #c4cad0;
}

.error {
  color: #b60123e1;
  font-size: 0.9rem;
}

/* UserInfo  */
.userInfo_label_PC {
  height: 32%;
  width: 95%;
  
}
.userInfo_label_PC div {
  font-size: 0.9rem;
}
.userInfo_input_PC {
  width: 90%;
  background-color: #f4f4f4;
  box-shadow: none;
  padding: 0.65rem 0.5rem;
}
.userInfo_address_input_PC,
.userInfo_email_input_PC {
  width: 95%;
  background-color: #f4f4f4;
  box-shadow: none;
  padding: 0.65rem 0.5rem;
}
.userInfo_input_PC:focus,
.userInfo_input_PC:valid,
.userInfo_address_input_PC:focus,
.userInfo_address_input_PC:valid,
.userInfo_email_input_PC:focus,
.userInfo_email_input_PC:valid {
  border: 1px solid #70707057;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 250ms;
}
