.home {
  display: flex;
  flex-direction: column;
}

.clearance {
  display: flex;
  padding: 4rem 0;
  justify-content: space-between;
}

.image {
  flex: 0 0 53%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.image img {
  height: 100%;
  width: 80%;
  border-radius: 15px;
}

.links {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.links h3 {
  flex: 0 0 10%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e4383;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.links span {
  flex: 0 0 2%;
  border-top: 4px solid #1e4383;
  width: 18%;
}

.links ul {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.links li {
  flex: 1;
  display: flex;
}

.links li a {
  margin: 0 0.65rem 0 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #192129;
  transition: all 200ms;
}

.links li:hover a {
  margin: 0 1rem 0 0;
  transition: all 200ms;
}

/* Top Companies  */

.topCompanies {
  background-color: #e7f1fc;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.topCompanies h3 {
  flex: 0 0 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e4383;
}

.topCompanies .subLine {
  flex: 0 0 5%;
  border-bottom: 4px solid #1e4383;
  margin: 0 auto;
  width: 8%;
}
.cardsBox {
  flex: 0 0 80%;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderBox {
  padding: 1rem 1rem 5rem 1rem;
  max-width: 80% !important;
  height: 80%;
  margin: 0 auto;
}

.preCard,
.nextCard {
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms;
  margin: 0 0.5rem;
  outline: none;
  border: none;
}
.nextIcon,
.preIcon {
  color: #c4cad0;
  font-weight: bolder !important;
  transition: all 200ms;
  font-size: 2rem;
}

.preCard:active,
.nextCard:active {
  transform: scale(1.1);
  transition: all 200ms;
}
.preCard:hover .preIcon,
.nextCard:hover .nextIcon {
  color: #277fe5;
  transition: all 200ms;
}

/* introduction  */
.introduction {
  display: flex;
  padding: 6rem 0;
  justify-content: center;
}
.introduction .image {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.image img {
  transition: all 500ms;
}
.image img:hover {
  opacity: 0.85;
  cursor: pointer;
  transition: all 500ms;
}
.introduction .registration {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}

.registration > h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e4383;
  padding: 0 0 1.5rem 0;
  width: 100%;
}
.registration > p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 2;
}
.registration > span {
  border-top: 4px solid #1e4383;
  width: 40%;
  padding: 1rem;
}

/* Requests */

.requests {
  display: flex;
  flex-direction: column;
  background-color: #e7f1fc;
  padding: 4rem 0;
}

.header {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header > h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e4383;
}
.header > a {
  text-decoration: none;
  color: #277fe5;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underLine {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0;
}

.underLine span {
  border-top: 4px solid #1e4383;
  display: block;
  width: 15%;
}

.requestBox {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 49%);
  justify-content: center;
  gap: 1rem;
}

/* Statistics */
.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: #1e4383;
}

.statisticsInfo {
  flex: 0 0 23%;
  font-size: 1.8rem !important;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 45%;
}

.numberBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.number {
  flex: 1;
  font-size: 3.5rem;
  color: #ffffff;
  font-weight: bold;
}

.addIcon {
  font-size: 2.5rem !important;
  font-weight: bolder !important;
  color: #ffffff;
  margin: 1rem;
}

/* News */

.news {
  height: 60rem;
  padding: 4rem 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.news > .header {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
}
.news > .underLine {
  flex: 0 0 5%;
}

.newsBox {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
}
.mainNews {
  flex: 0 0 50%;
  width: 80%;
  margin: 0 auto;
}
.otherNews {
  flex: 0 0 45%;
  width: 80%;
  margin: 0.65rem auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  .footerSignUp {
    padding: 0.8rem;
    width: 35%;
  }
  .sliderBox {
    padding: 1rem 1rem 5rem 1rem;
    height: 70%;
  }
  .registration > h3 {
    font-size: 1.5rem;
  }
  .registration > p {
    font-size: 0.9rem;
  }
  .introduction {
    justify-content: space-evenly;
  }
  .introduction .image {
    padding: 0;
  }
  .image img {
    height: auto;
    width: 90%;
  }
  .introduction .registration {
    flex: 0 0 40%;
  }
  .introduction .image {
    flex: 0 0 45%;
  }
  .header {
    width: 85%;
  }
  .underLine {
    width: 85%;
    padding: 1rem 0;
  }
  .header > h3 {
    font-size: 1.5rem;
  }
  .header > a {
    font-size: 0.9rem;
  }
  .header > a svg {
    height: 0.8em !important;
  }
  .requestBox {
    width: 85%;
    gap: 1rem;
  }
  .statisticsInfo {
    justify-content: space-evenly;
  }
  .number {
    font-size: 2.5rem;
  }
  .addIcon {
    font-size: 1.5rem !important;
  }
  .newsBox {
    flex: 0 0 85%;
  }
  .mainNews {
    width: 85%;
  }
  .otherNews {
    width: 85%;
  }
}

@media only screen and (max-width: 961px) {
  .clearance {
    flex-direction: row;
    padding: 2rem 0;
  }
  .sliderBox {
    max-width: 75% !important;
  }
  .image {
    justify-content: center;
    padding: 0.5rem;
  }
  .links {
    padding: 1rem;
  }
  .links h3 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .links span {
    margin: 0.5rem;
  }

  .links ul {
    flex: 0 0 70%;
    padding: 0.5rem;
  }

  .links li {
    margin: 0.25rem 0;
  }
  .links li a {
    margin: 0 0.65rem 0 0;
    font-size: 0.95rem;
  }
  .links li svg {
    font-size: 0.95em !important;
  }
  .preCard,
  .nextCard {
    height: 2.7rem;
    width: 2.7rem;
  }
  .nextIcon,
  .preIcon {
    font-size: 1.5rem !important;
  }
  .topCompanies h3 {
    font-size: 1.5rem;
  }

  .registration > span {
    width: 30%;
  }

  .topCompanies .subLine {
    width: 15%;
  }
  .introduction {
    flex-direction: row;
    padding: 3rem 0;
  }
  .registration {
    padding: 1rem 1rem 2rem 1rem;
  }
  .registration > h3 {
    font-size: 1.2rem;
  }
  .registration > p {
    font-size: 0.8rem;
  }
  .header {
    width: 85%;
  }
  .underLine {
    width: 85%;
    padding: 1rem 0;
  }
  .header > h3 {
    font-size: 1.2rem;
  }
  .header > a {
    font-size: 0.85rem;
  }
  .header > a svg {
    height: 0.6em !important;
  }
  .requestBox {
    grid-template-columns: repeat(2, 50%);
  }
  .statistics {
    flex-direction: row;
    justify-content: space-around;
  }
  .statisticsInfo {
    font-size: 1.5rem !important;
  }
  .number {
    font-size: 2rem;
  }
  .addIcon {
    font-size: 1.2rem !important;
  }
  .otherNews {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    margin: 1rem auto 0 auto;
  }
  .newsBox {
    flex: 0 0 90%;
  }
  .news {
    padding: 4rem 0 6rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .clearance {
    flex-direction: row;
    padding: 2rem 0;
    height: 30rem;
  }
  .links li a {
    font-size: 0.85rem;
  }
  .otherNews {
    margin: 2rem auto 0 auto;
  }
}

@media only screen and (max-width: 426px) {
  .clearance {
    flex-direction: column;
    padding: 2rem 0;
    height: 30rem;
  }
  .sliderBox {
    max-width: 65% !important;
  }
  .image {
    justify-content: center;
    padding: 0.5rem;
  }
  .links {
    padding: 1rem;
  }
  .links h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
  .links span {
    margin: 0.5rem;
  }

  .links ul {
    flex: 0 0 70%;
    padding: 0.5rem;
  }

  .links li {
    margin: 0.25rem 0;
  }
  .links li a {
    margin: 0 0.65rem 0 0;
    font-size: 0.8rem;
  }
  .links li svg {
    font-size: 0.8em !important;
  }
  .preCard,
  .nextCard {
    height: 2.7rem;
    width: 2.7rem;
  }
  .nextIcon,
  .preIcon {
    font-size: 1.5rem !important;
  }
  .topCompanies h3 {
    font-size: 1.5rem;
  }

  .registration > span {
    width: 30%;
  }

  .topCompanies .subLine {
    width: 15%;
  }
  .introduction {
    flex-direction: column;
    padding: 3rem 0;
  }
  .registration {
    padding: 1rem 1rem 2rem 1rem;
  }
  .registration > h3 {
    font-size: 1.2rem;
  }
  .registration > p {
    font-size: 0.8rem;
  }
  .header {
    width: 85%;
  }
  .underLine {
    width: 85%;
    padding: 1rem 0;
  }
  .header > h3 {
    font-size: 1rem;
  }
  .header > a {
    font-size: 0.65rem;
  }
  .header > a svg {
    height: 0.6em !important;
  }
  .requestBox {
    grid-template-columns: repeat(1, 95%);
  }
  .statistics {
    flex-direction: column;
    justify-content: space-around;
  }
  .statisticsInfo {
    font-size: 1.5rem !important;
  }
  .number {
    font-size: 2rem;
  }
  .addIcon {
    font-size: 1.2rem !important;
  }
  .otherNews {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
  .newsBox {
    flex: 0 0 90%;
  }
  .news {
    padding: 3rem 0;
  }
}

@media only screen and (max-width: 320px) {
  .preCard,
  .nextCard {
    height: 2.2rem;
    width: 2.2rem;
  }
  .nextIcon,
  .preIcon {
    font-size: 1.2rem !important;
  }
}
