.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transform: translateY(0);
  transition: all 200ms;
}

.card {
  padding: 1rem;
  width: 50%;
  background-color: #e7f1fc;
  color: #277fe5;
  border: 1px solid transparent;
}
.requestCard {
  padding: 0.65rem 1.5rem;
  background-color: #e7f1fc;
  color: #277fe5;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: bold;
}

.panel {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #277fe5;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.73);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  margin: 1.8rem 0 0 0;
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #277fe5;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.73);
}

.footerSignUp {
  position: absolute;
  padding: 1rem;
  width: 25%;
  color: #ffffff;
  background-color: #277fe5;
  right: 60%;
  border: 1px solid transparent;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.73);
}

.registration {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  width: 60%;
  background-color: #1e4383;
  color: #ffffff;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.73);
}

.confirmation {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #1e4383;
  color: #ffffff;
  width: 30%;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.4);
}

.auth {
  background-color: #c4cad0;
  width: 94%;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 6px 11px -3px #4e50525e;
}
.authActive {
  background-color: #1e4383;
  color: #ffffff;
  width: 94%;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: 0px 6px 11px -3px #1e43835e;
}

.card:hover,
.requestCard:hover {
  background-color: #277fe5;
  color: #ffffff;
  transition: all 200ms;
}
.requestCard:active {
  transform: scale(1.05);
  transition: all 200ms;
}

.header:hover,
.panel:hover {
  background-color: #277fe5;
  color: #ffffff;
  transition: all 200ms;
}
.panel:hover a {
  color: #ffffff;
  transition: all 200ms;
}
.header:active,
.panel:active,
.registration:active {
  transform: translateY(2px);
  transition: all 100ms;
}

.registration:hover {
  opacity: 0.85;
}

.footerSignUp:hover {
  background-color: #2372cc;
  transition: all 200ms;
}

.auth:hover {
  box-shadow: 0px 6px 11px -3px #535658c7;
  transition: all 200ms;
}
.authActive:hover {
  color: #ffffff;
  box-shadow: 0px 6px 11px -3px #1e4383c7;
  transition: all 200ms;
}
.auth:active,
.authActive:active,
.tariffSearch:active,
.confirmation:active {
  transform: scale(1.05);
  transition: all 200ms;
}

.confirmation:hover {
  opacity: 0.9;
  transition: all 200ms;
}

.tariffSearch {
  font-size: .8rem;
  font-weight: 500 ;
  position: absolute;
  left: 5%;
  padding: 0.7rem;
  width: 25%;
  color: #ffffff;
  background-color: #1e4383;
  border: 1px solid transparent;
  box-shadow: 0px 6px 11px -3px rgba(0, 0, 0, 0.5);
  transition: all 200ms;
}

.tariffSearch:hover {
  background-color: #214c96;
  transition: all 200ms;
}
