.paper {
  padding: 5rem 6rem !important;
  border-radius: 10px !important;
}

.chip {
  margin: 0.5rem 0.2rem;
}
.error {
  color: #b60123e1;
  font-size: 0.9rem;
}

.alert {
  color: #b60123e1 !important;
  font-size: 0.9rem;
  padding: 0.5rem !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}
.alert div {
  padding: 0 !important;
  margin: 0 !important;
}

.juridicalClearanceMan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 5rem 12rem 5rem 2.5rem;
  gap: 3rem 1rem;
  justify-content: center;
}
.firstRow_JC {
  grid-column: 1/6;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem;
  gap: 3rem 1rem;
  justify-content: center;
}
.companyName {
  grid-column: 1/2;
}
.companyNationalId {
  grid-column: 2/3;
}
.mobileNum {
  grid-column: 3/4;
}

.privateClearanceMan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 5rem 12rem 5rem 2.5rem;
  gap: 3rem 1rem;
  justify-content: center;
}

.firstRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-row: 1;
}
.firstName {
  grid-column: 1/2;
}
.lastName {
  grid-column: 2/3;
}
.clearanceId {
  grid-column: 3/4;
}
.mobile {
  grid-column: 4/5;
}

.addressBox {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.emailBox {
  display: flex;
  flex-direction: column;
  grid-column: 3/5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.secondRow {
  grid-row: 3;
}
.imageCriminalRecord,
.imageWorkExperience,
.clearances {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clearances {
  grid-column: 1/3;
}
.imageWorkExperience {
  grid-column: 4/5;
}
.imageCriminalRecord {
  grid-column: 3/4;
}
.imageCriminalRecordTitle,
.imageWorkExperienceTitle,
.clearancesTitle {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
}

.imageCriminalRecordBox,
.imageWorkExperienceBox {
  background-color: #f4f4f4;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clearancesBox {
  /* background-color: #ffffff; */
  background-color: #f4f4f4;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  overflow: auto;
  transition: all 300ms;
}
.clearancesBox.active {
  background-color: #ffffff;
  border: 1px solid #70707057;
  transition: all 300ms;
}

.clearancesBox::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
}
.clearancesBox::-webkit-scrollbar-track {
  border: 1px solid #70707057;
  border-radius: 10px;
}
.clearancesBox::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  width: 20px;
  border-radius: 10px;
}

.imageCriminalRecord img,
.imageWorkExperience img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.thirdRow {
  grid-row: 4;
}

.selectClearance,
.criminalRecord,
.workExperience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.selectClearance {
  grid-column: 1/3;
}
.criminalRecord {
  grid-column: 3/4;
  position: relative;
}
.workExperience {
  grid-column: 4/5;
  position: relative;
}

.selectClearanceTitle,
.workExperienceTitle,
.criminalRecordTitle {
  width: 98%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.workExperience input,
.criminalRecord input {
  color: transparent;
}
.workExperience input::-webkit-file-upload-button,
.criminalRecord input::-webkit-file-upload-button {
  visibility: hidden;
}
.workExperience input::before,
.criminalRecord input::before {
  content: "انتخاب تصویر";
  color: #19212970;
  display: inline-block;
  background-color: #f4f4f4;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #70707025;
  padding: 0.65rem 0.5rem;
  width: 90%;
  transition: all 250ms;
}
.workExperience input:hover::before,
.criminalRecord input:hover::before {
  box-shadow: 0px 4px 8px 1px #c4cad03a;
  border: 1px solid #70707057;
  transition: all 250ms;
}
input[type="file"] {
  cursor: pointer;
}
.uploadInput {
  width: 100%;
}
.uploadIcon {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0.75rem 0;
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  opacity: 0.4;
}

.selectInput {
  color: #192129;
  background-color: #f4f4f4;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #70707025;
  padding: 0 0.5rem;
  height: 2.8rem;
  width: 98%;
  font-family: inherit;
  transition: all 250ms;
}

.selectInput:focus {
  border: 1px solid #70707057;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 1px #c4cad05b;
  transition: all 250ms;
}

.inputError {
  border: 1px solid #b60123e1;
  transition: all 250ms;
}
.selectInput:hover {
  box-shadow: 0px 4px 8px 1px #c4cad03a;
  border: 1px solid #70707057;
  transition: all 250ms;
}

.BtnBox {
  grid-row: 5;
  grid-column: 4/5;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.BtnBox button {
  flex: 0 0 45%;
}
.BtnBox a {
  flex: 0 0 45%;
}

/* RESPONSIVE -------------------------------------------------------- */

@media only screen and (max-width: 1366px) {
  .paper {
    padding: 2rem 3rem !important;
    border-radius: 10px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .juridicalClearanceMan,
  .privateClearanceMan {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 800px) {
  .juridicalClearanceMan,
  .privateClearanceMan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  .firstRow_JC {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .selectClearance {
    order: 1;
  }
  .clearances {
    order: 2;
    min-height: 5rem !important;
  }

  .criminalRecord {
    order: 3;
    width: 50%;
  }
  .imageCriminalRecord {
    order: 4;
    width: 50%;
  }
  .workExperience {
    order: 5;
    width: 50%;
  }
  .imageWorkExperience {
    order: 6;
    width: 50%;
  }
  .BtnBox {
    order: 7;
  }
  .selectClearanceTitle,
  .criminalRecordTitle,
  .workExperienceTitle,
  .clearancesTitle,
  .imageCriminalRecordTitle,
  .imageWorkExperienceTitle {
    padding: 0.85rem 0;
  }
  .uploadIcon {
    top: 2.5rem;
    left: 1.5rem;
  }
  .selectInput,
  .uploadInput {
    font-size: 0.9rem;
  }
  .workExperience input::before,
  .criminalRecord input::before {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .criminalRecord {
    width: 100%;
  }
  .imageCriminalRecord {
    width: 100%;
  }
  .workExperience {
    width: 100%;
  }
  .imageWorkExperience {
    width: 100%;
  }
  .uploadIcon {
    top: 2.6rem;
    left: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .paper {
    padding: 1rem 0.5rem !important;
  }
  .criminalRecord {
    width: 100%;
  }
  .imageCriminalRecord {
    width: 100%;
  }
  .workExperience {
    width: 100%;
  }
  .imageWorkExperience {
    width: 100%;
  }
  .uploadIcon {
    top: 2.6rem;
    left: 2rem;
  }
  .selectClearanceTitle,
  .criminalRecordTitle,
  .workExperienceTitle,
  .clearancesTitle,
  .imageCriminalRecordTitle,
  .imageWorkExperienceTitle {
    font-size: 0.75rem !important;
  }
  .uploadIcon {
    top: 2.3rem;
    left: 2rem;
  }
  .selectInput,
  .uploadInput {
    font-size: 0.75rem;
  }
  .workExperience input::before,
  .criminalRecord input::before {
    font-size: 0.75rem;
  }
  .chip span {
    font-size: 0.7rem;
  }
}
