.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 35%;
}
.text {
  font-size: 1.2rem;
  font-weight: 400;
}
.email {
  font-size: 1.2rem;
  font-weight: 500;
  color: #192129b0;
}
