
@import url("./styles/reset.module.css");
@import url('./fonts/css/fontiran.css');

body {
  font-family: Roboto, IRANSans !important ;
  font-weight: 300;
  direction: rtl;
  height: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans !important;
}
h1 {
  font-weight: bold;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 20px;
}
body::-webkit-scrollbar-track {
  padding: 0.25rem;
  border: 1px solid rgba(48, 48, 48, 0.342);
}
body::-webkit-scrollbar-thumb {
  background-color: #1e4383;
  width: 20px;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  opacity: 0.85;
}
