@import url("./styles/reset.module.css");
@import url("./fonts/fonts/fonts.css");
@import url("./fonts/kalameh/kalamehFont.css");

#root {
  height: 100% !important;
  width: 100% !important;
}

body {
  font-weight: 300;
  direction: rtl;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 13px;
}
body::-webkit-scrollbar-track {
  padding: 0.25rem;
  border: 1px solid rgba(48, 48, 48, 0.342);
}
body::-webkit-scrollbar-thumb {
  background-color: #1e4383;
  width: 20px;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #1e4383ee;
}

::placeholder {
  color: #c4cad0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./styles/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: 2%;
  background-position-y: 50%;
  outline: none;
}
