.container {
}
.staticBox {
}

.dynamicBox {
}
.alert {
  background-color: #ffc05e !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
}

.paper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
}
.header {
  width: 100%;
  background-color: #1e4383;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.body {
  width: 100%;
}
.title {
  flex: 0 0 60%;
  padding: 0.5rem;
}
.link {
  flex: 0 0 25%;
  padding: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

/* TABLE */

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableRow {
  transition: all 200ms !important;
}
.tableRow:hover {
  cursor: pointer !important;
  transition: all 200ms !important;
  background-color: #f4f4f4;
}

.tableRow:hover svg , .tableRow:hover img  {
  fill: #277fe5 !important;
  transition: all 200ms !important;
  
}

.statusCell {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.statusText {
  flex: 0 0 80%;
  margin-left: 0.5rem;
}
.status {
  flex: 0 0 5%;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}
.status.pending {
  background-color: #ffc05e;
}
.status.closed {
  background-color: #219b26;
}
.status.open {
  background-color: #e52727;
}

.fixCell,
.transmitter {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.fixCell {
  width: 97%;
}
.transmitter {
  justify-content: flex-start;
}
.transmitter div {
  margin-left: 1rem;
}

.footer {
  width: 100%;
  margin: 0 auto;
}
.pagination {
  padding: 1.5rem;
  width: 50%;
  margin: 0 auto;
}
.paginationList {
  direction: ltr !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.numberBtn {
  border-radius: 6px !important;
  padding: 0 !important;
  height: 2rem !important;
  min-width: 2rem !important;
  background-color: transparent;
}
.change {
  padding: 0.5rem !important;
  min-width: 2rem !important;
}
