.container {
  height: 100% !important;
}
.mainTitle {
  margin-bottom: 2rem !important;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.staticBox {
  margin: 0 0 2rem 0 !important;
}

.alert {
  background-color: #ffc05e !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  margin: 0 0 2rem 0 !important;
}

.paper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
}

.ticketsRows {
  width: 65% !important;
}

.newsRows {
  width: 33% !important;
}

.header {
  width: 100%;
  background-color: #1e4383;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  flex: 0 0 60%;
  padding: 0.5rem;
}
.body {
  width: 100%;
}
.link {
  flex: 0 0 25%;
  padding: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

/* TABLE */

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tableHeader {
  font-weight: bold !important;
  font-size: 0.7rem !important;
}
.tableRow {
  transition: all 200ms !important;
}
.tableRow:hover {
  cursor: pointer !important;
  transition: all 200ms !important;
  background-color: #f4f4f4;
}

.tableRow:hover svg {
  fill: #277fe5 !important;
  transition: all 200ms !important;
}

.statusText {
  display: inline-block;
  flex: 0 0 80%;
  margin: 0 0.5rem;
}
.status {
  display: inline-block;
  flex: 0 0 auto;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
}
.status.pending {
  background-color: #ffc05e;
}
.status.closed {
  background-color: #219b26;
}
.status.open {
  background-color: #e52727;
}

.fixCell,
.transmitter {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.fixCell {
  width: 97%;
}
.transmitter {
  justify-content: flex-start;
}
.transmitter div {
  margin-left: 1rem;
}

.tablePagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.numberBtn {
  border-radius: 6px !important;
  padding: 0 !important;
  height: 2rem !important;
  min-width: 2rem !important;
  background-color: transparent;
}
.change {
  padding: 0.5rem !important;
  min-width: 2rem !important;
}

/* ---------------- TABLET ------------------ */
@media only screen and (max-width: 768px) {
  .title {
    flex: 0 0 50%;
    font-size: 0.95rem !important;
  }
  .link {
    flex: 0 0 35%;
  }
  .link p,
  .link svg {
    font-size: 0.75rem !important;
  }
  .tableRow td {
    font-size: 0.8rem !important;
  }
  .tableRow td svg {
    font-size: 0.8rem !important;
  }
  .tableRow {
    font-size: 8rem !important;
  }
  .ticketsRows {
    width: 100% !important;
  }
  .newsRows {
    width: 100% !important;
    margin: 2rem 0 0 0;
  }
}

@media only screen and (max-width: 670px) {
  .tableRow td,
  .tableHeader td {
    padding: .9rem !important;
  }
}

@media only screen and (max-width: 660px) {
  table {
    min-width: 19rem !important;
    overflow-x: scroll !important;
  }
  .tableRow,
  .tableHeader {
    display: flex !important;
    flex-direction: column !important;
  }
  .tableRow td,
  .tableHeader td {
    padding: 1.7rem !important;
  }
}
